<li [id]="uifId" class="ms-ListItem" tabindex="0" [class.is-selectable]="uifSelectable" [class.is-selected]="uifSelected" [class.is-unread]="uifFocused">
  <span class="ms-ListItem-primaryText">{{uifPrimaryText}}</span>
  <span class="ms-ListItem-secondaryText">{{uifSecondaryText}}</span>
  <span class="ms-ListItem-tertiaryText">{{uifTertiaryText}}</span>
  <span class="ms-ListItem-metaText">{{uifMetaText}}</span>
  <div class="ms-ListItem-selectionTarget" (click)="checkboxClick()"></div>
  <div class="ms-ListItem-actions">
    <div class="ms-ListItem-action" *ngIf="uifAction1Enabled" (click)="actionButton1Click()">
       <i class="ms-Icon" [ngClass]="'ms-Icon--' + uifAction1Icon"></i> 
    </div>
    <div class="ms-ListItem-action" *ngIf="uifAction2Enabled" (click)="actionButton2Click()">
      <i class="ms-Icon" [ngClass]="'ms-Icon--' + uifAction2Icon"></i>
    </div>
    <div class="ms-ListItem-action" *ngIf="uifAction3Enabled" (click)="actionButton3Click()">
      <i class="ms-Icon" [ngClass]="'ms-Icon--' + uifAction3Icon"></i>
    </div>
  </div>
</li>