<div style="text-align:center">
  <h1 class="ms-font-xxl">
   {{title}}
  </h1>
</div>

<h1 class="ms-font-xxl">ListItem examples:</h1>
<!-- List of available action icons: https://github.com/OfficeDev/office-ui-fabric-core/blob/master/src/data/icons.json -->
<uif-listitem 
  [uifId]="'listitem1'" 
  [uifPrimaryText]="'List Item: Extended and selectable'" 
  [uifSecondaryText]="'Secondary text...'" 
  [uifTertiaryText]="'Tertiary text...'" 
  [uifMetaText]="'Meta text'"
  [uifSelectable]="true"
  [uifSelected]="false"
  [uifAction1Enabled]="true"
  [uifAction1Icon]="'Code'"
  (uifAction1Clicked)="listItemButton1Clicked()"
  [uifAction2Enabled]="true"
  [uifAction2Icon]="'Save'"
  (uifAction2Clicked)="listItemButton2Clicked()"
  [uifAction3Enabled]="true"
  [uifAction3Icon]="'Cancel'"
  (uifAction3Clicked)="listItemButton3Clicked()"
></uif-listitem>
<uif-listitem 
  [uifId]="'listitem2'" 
  [uifPrimaryText]="'List Item: Simple and selected'" 
  [uifSelectable]="true"
  [uifSelected]="true"
  [uifAction1Enabled]="true"
  (uifAction1Clicked)="listItemButton1Clicked()"
></uif-listitem>
<uif-listitem 
  [uifId]="'listitem3'" 
  [uifPrimaryText]="'List Item: Simple, non-selectable'" 
  ></uif-listitem>
<uif-listitem 
  [uifId]="'listitem3'" 
  [uifPrimaryText]="'List Item: Simple'" 
  [uifSelectable]="true"
  [uifSelected]="true"
  ></uif-listitem>
<hr/>

<h1 class="ms-font-xxl">Spinner examples:</h1>
<uif-spinner [uifId]="'spinner1'" [uifSpin]="spinSpinners" [uifHide]="hideSpinners">Spinner label...</uif-spinner>
<br/>
<uif-spinner [uifId]="'spinner2'" [uifLarge]="true" [uifSpin]="spinSpinners" [uifHide]="hideSpinners">Loading...</uif-spinner>
<br/>
<uif-spinner [uifId]="'spinner3'" [uifLarge]="true" [uifAnimationSpeed]="400"></uif-spinner>
<br/>
<uif-button [uifId]="'spinSpinners'" [uifLabel]="'Stop/start spinners'" (uifButtonClicked)="stopSpinners()"></uif-button>
<uif-button [uifId]="'hideSpinners'" [uifLabel]="'Show/hide spinners'" (uifButtonClicked)="showSpinners()"></uif-button>
<hr/>

<h1 class="ms-font-xxl">Checkbox examples:</h1>
 <uif-choicefieldgroup [uifId]="'citypicker'" [uifLabel]="'Pick a city:'" [uifRequired]="true" [uifType]="'checkbox'" (uifValuesChanged)="choiceFieldGroupValuesChanged($event)">
  <uif-checkbox [uifLabel]="'New York'" [uifId]="'newyork'" [uifDisabled]="false"></uif-checkbox>
  <uif-checkbox [uifLabel]="'Tokyo'" [uifId]="'tokyo'" [uifDisabled]="true" ></uif-checkbox>
  <uif-checkbox [uifLabel]="'London'" [uifId]="'london'" [uifDisabled]="false"></uif-checkbox>
  <uif-checkbox [uifLabel]="'Oslo'" [uifId]="'oslo'" [uifDisabled]="false" [uifChecked]="true"></uif-checkbox>
</uif-choicefieldgroup> 
<uif-textfield [uifId]="'multiplecheckboxesvalues'" [uifMultiline]="true" [uifAutoAdjustSize]="true" [uifLabel]="'Checkbox status:'" [value]="checkboxValues"></uif-textfield>

<uif-choicefieldgroup [uifId]="'Singlecheckboxexample'" [uifLabel]="'Single checkbox with checkbox clicked event:'">
 <uif-checkbox [uifLabel]="'Single checkbox'" [uifId]="'single'" [uifDisabled]="false" [uifChecked]="singleCheckboxChecked" (uifClicked)="singleCheckboxClicked($event)"></uif-checkbox> 
</uif-choicefieldgroup>
<uif-textfield [uifId]="'singhecheckboxvalue'" [uifLabel]="'The checkbox is checked:'" [value]="singleCheckboxChecked"></uif-textfield>
<hr/>

<h1 class="ms-font-xxl">Panel example:</h1>
<uif-button [uifId]="'Showpanel'" [uifLabel]="'Click here to show panel'" [uifType]="'primary'" (uifButtonClicked)="panelButtonClick()"></uif-button>
<uif-panel [uifId]="'lightPanel'" [uifPanelHeader]="'Panel header here!'" [uifPanelSize]="'lg'" [uifDarkOverlay]="true" (uifCloseButtonClicked)="panelCloseButtonClick()" (uifOverlayClicked)="panelOverlayClick()" [uifPositionLeft]="false" [uifOpen]="displayPanel">
  <br/>
  <p>Available panel sizes:</p>
  <ul>
    <li>Small (default): <b>sm</b></li>
    <li>Medium: <b>md</b></li>
    <li>Large: <b>lg</b></li>
    <li>Xtra Large: <b>xl</b></li>
    <li>Xtraxtra Large: <b>xxl</b></li>
  </ul>
</uif-panel>

<br/>

<uif-button [uifId]="'ShowPersistentPanel'" [uifLabel]="'Click here to show persistent panel'" [uifType]="'primary'" (click)="persistentPanelButtonClick()"></uif-button>
<uif-panel [uifId]="'persistentPanel'" [uifPersistent]="true" [uifDarkOverlay]="true" [uifPanelHeader]="'Persistent'" [uifPanelSize]="'md'" (uifCloseButtonClicked)="persistentPanelCloseButtonClick()" [uifPositionLeft]="true" [uifOpen]="displayPersistentPanel">
<p>Have to X this to make it go away. Clicking the overlay won't.</p>
</uif-panel>
<hr/>

<h1 class="ms-font-xxl">Overlay example:</h1>
<uif-button [uifId]="'showDarkOverlay'" [uifLabel]="'Click here to show dark overlay'" [uifType]="'primary'" (click)="darkOverlayButtonClick()"></uif-button> 
<uif-overlay [uifId]="'darkOverlay'" [uifDark]="true" [(uifShow)]="displayDarkOverlay" (uifClick)="overlayClicked()"></uif-overlay>
<br/>
<uif-button [uifId]="'showLightOverlay'" [uifLabel]="'Click here to show light overlay'" [uifType]="'primary'" (click)="lightOverlayButtonClick()"></uif-button>
<uif-overlay [uifId]="'lightOverlay'" [uifDark]="false" [(uifShow)]="displayLightOverlay" (uifClick)="overlayLightClicked()"></uif-overlay> 
<br/>
<uif-button [uifId]="'showPersistentOverlay'" [uifLabel]="'Click here to show persistent overlay'" [uifType]="'primary'" (click)="persistentOverlayButtonClick()"></uif-button>
<uif-overlay [uifId]="'persistentOverlay'" [uifDark]="true" [uifPersistent]="true" [(uifShow)]="displayPersistentOverlay" (uifClick)="overlayPersistentClicked()"></uif-overlay> 

<hr/>

<h1 class="ms-font-xxl">Link examples:</h1>
<span class="ms-font-m">Some text here, followed by an example link: <uif-link [uifUrl]="'http://google.com'" [uifTitle]="'This is the hover text'">Example link</uif-link>...</span>
<hr/>

<h1 class="ms-font-xxl">Label examples:</h1>
<uif-label>Insert name here:</uif-label>
<uif-label [uifRequired]="true">This label is required:</uif-label>
<uif-label [uifDisabled]="true">This label is disabled:</uif-label>
<hr/>

<h1 class="ms-font-xxl">Message banner examples:</h1>
<uif-message-banner [uifId]="'banner1'" [uifHidden]="false" [uifContent]="messageBarText" [uifActionLabel]="'Button text'" (uifActionButtonClicked)="messageBannerActionButtonClick()" (uifCloseButtonClicked)="messageBannerCloseButtonClick()"></uif-message-banner>
<br/>
 <uif-message-banner [uifId]="'banner2'" [uifHidden]="false" [uifContent]="messageBarText" [uifActionLabel]="'Button 2 text'" (uifActionButtonClicked)="messageBannerActionButton2Click()"></uif-message-banner> 
<hr/>

<h1 class="ms-font-xxl">Message bar examples:</h1>
<uif-message-bar [uifContent]="messageBarText" [uifLinkLabel]="'Click me'" [uifLinkURL]="'https://google.com'"></uif-message-bar>
<uif-message-bar [uifContent]="messageBarText" [uifLinkLabel]="'Click me'" [uifLinkURL]="'https://google.com'" [uifType]="'success'"></uif-message-bar>
<uif-message-bar [uifContent]="messageBarText" [uifLinkLabel]="'Click me'" [uifLinkURL]="'https://google.com'" [uifType]="'error'"></uif-message-bar>
<uif-message-bar [uifContent]="messageBarText" [uifLinkLabel]="'Click me'" [uifLinkURL]="'https://google.com'" [uifType]="'blocked'"></uif-message-bar>
<uif-message-bar [uifContent]="messageBarText" [uifLinkLabel]="'Click me'" [uifLinkURL]="'https://google.com'" [uifType]="'warning'"></uif-message-bar>
<uif-message-bar [uifContent]="messageBarText" [uifLinkLabel]="'Click me'" [uifLinkURL]="'https://google.com'" [uifType]="'severeWarning'"></uif-message-bar>
<hr/>

<h1 class="ms-font-xxl">Button examples:</h1>
<uif-button [uifId]="'button1'" [uifLabel]="'Click here'" (uifButtonClicked)="button1Click()"></uif-button>
<uif-button [uifId]="'button2'" [uifLabel]="'Click here too'" [uifType]="'primary'" (click)="button2Click()"></uif-button>
<uif-button [uifId]="'button3'" [uifLabel]="'Small button (requires 1.4.0)'" [uifType]="'small'" [uifDisabled]="'true'"></uif-button>
<br/><br/>
<uif-button [uifId]="'button4'" [uifLabel]="'Click here too'" [uifType]="'compound'" [uifDescription]="'Some words about this button'"></uif-button>
<br/>
<uif-button [uifId]="'button5'" [uifLabel]="'Click here too'" [uifType]="'hero'"></uif-button>
<hr/>

<h1 class="ms-font-xxl">Dropdown examples:</h1>
<uif-dropdown [uifId]="'soundpicker'" [uifLabel]="'Soundpicker:'" [uifDisabled]="false" [uifOptions]="dropdownValues" [(uifSelectedValue)]="dropdownSelected"></uif-dropdown>
<uif-dropdown [uifId]="'placeholdertest'" [uifLabel]="'Testing placeholder:'" [uifDisabled]="false" [uifOptions]="dropdownValues" [(uifSelectedValue)]="dropdownPlaceHolderSelected" [uifPlaceholder]="dropdownPlaceholder"></uif-dropdown>
<br/>
<span class="ms-font-m">Testing dropdown data binding:</span> <input class="ms-font-m" [(ngModel)]="dropdownSelected" />
<hr/>

<h1 class="ms-font-xxl">Radio button examples:</h1>
<uif-radiobutton [uifLabel]="radioLabel" [uifRequired]="true" [uifId]="'InsertUniqueIdHere'" [uifOptions]="radioValues" [(uifSelectedValue)]="radioSelected"></uif-radiobutton>
<span class="ms-font-m">Testing radio button data binding:</span> <input class="ms-font-m" [(ngModel)]="radioSelected" />
<uif-radiobutton [uifLabel]="'Select fruit:'" [uifRequired]="false" [uifId]="'Fruitpicker'" [uifOptions]="radioValuesWithDisabled" [(uifSelectedValue)]="radioSelectedFruit"></uif-radiobutton>
<span class="ms-font-m">Testing radio button fruit binding:</span> <input class="ms-font-m" [(ngModel)]="radioSelectedFruit" />
<hr/>

<h1 class="ms-font-xxl">Textfield examples:</h1>
<uif-textfield [uifId]="'text1'" [uifLabel]="'regular textfield:'" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifId]="'text2'" [uifLabel]="'underlined textfield:'" [uifUnderlined]="true" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifId]="'text3'" [uifLabel]="'underlined textfield ala password:'" [uifUnderlined]="true" [uifPassword]="true" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifId]="'text4'" [uifLabel]="'underlined textfield /w placeholder:'" [uifUnderlined]="true" [uifPlaceholder]="'what to type here'" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifId]="'text5'" [uifLabel]="'disabled textfield /w placeholder'" [uifPlaceholder]="'what to type here'" [uifDisabled]="true" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifId]="'text6'" [uifLabel]="'multiline textfield'" [uifMultiline]="true" [(value)]="anotherTextFieldValue"></uif-textfield>
<uif-textfield [uifId]="'text7'" [uifLabel]="'disabled multiline textfield w/ placeholder'" [uifMultiline]="true" [uifDisabled]="true" [uifPlaceholder]="'placeholder'" [(value)]="anotherTextFieldValue"></uif-textfield>
<uif-textfield [uifId]="'text8'" [uifLabel]="'auto-resizable multiline w/placeholder'" [uifMultiline]="true" [uifAutoAdjustSize]="true" [uifPlaceholder]="'placeholder'" [(value)]="anotherTextFieldValue"></uif-textfield>
<span class="ms-font-m">Testing data binding:</span> <input class="ms-font-m" [(ngModel)]="textFieldValue" />
<br/>
<span class="ms-font-m">Testing data binding:</span> <input class="ms-font-m" [(ngModel)]="anotherTextFieldValue" />
<br>