<div style="text-align:center">
  <h1 class="ms-font-xxl">
   {{title}}
  </h1>
</div>

<h1 class="ms-font-xxl">Button examples:</h1>
<uif-button [uifLabel]="'Click here'" (click)="button1Click()"></uif-button>
<uif-button [uifLabel]="'Click here too'" (click)="button2Click()"></uif-button>

<h1 class="ms-font-xxl">Dropdown examples:</h1>
<uif-dropdown [uifLabel]="'Soundpicker:'" [uifDisabled]="false" [uifOptions]="dropdownValues" [(uifSelectedValue)]="dropdownSelected" [uifPlaceholder]="dropdownPlaceholder"></uif-dropdown>
<br/>
<span class="ms-font-m">Testing dropdown data binding:</span> <input class="ms-font-m" [(ngModel)]="dropdownSelected" />


<h1 class="ms-font-xxl">Radio button examples:</h1>
<uif-radiobutton [uifLabel]="radioLabel" [uifRequired]="true" [uifId]="'InsertUniqueIdHere'" [uifOptions]="radioValues" [(uifSelectedValue)]="radioSelected"></uif-radiobutton>
<uif-radiobutton [uifLabel]="radioLabel" [uifRequired]="true" [uifId]="'InsertUniqueIdHere'" [uifOptions]="radioValuesWithDisabled" [(uifSelectedValue)]="radioSelected"></uif-radiobutton>
<span class="ms-font-m">Testing radio button data binding:</span> <input class="ms-font-m" [(ngModel)]="radioSelected" />

<h1 class="ms-font-xxl">Textfield examples:</h1>
<uif-textfield [uifLabel]="'regular textfield:'" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifLabel]="'underlined textfield:'" [uifUnderlined]="true" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifLabel]="'underlined textfield ala password:'" [uifUnderlined]="true" [uifType]="'password'" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifLabel]="'underlined textfield /w placeholder:'" [uifUnderlined]="true" [uifPlaceholder]="'what to type here'" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifLabel]="'disabled textfield /w placeholder'" [uifPlaceholder]="'what to type here'" [uifDisabled]="true" [(value)]="textFieldValue"></uif-textfield>
<uif-textfield [uifLabel]="'multiline textfield'" [uifMultiline]="true" [(value)]="anotherTextFieldValue"></uif-textfield>
<uif-textfield [uifLabel]="'disabled multiline textfield w/ placeholder'" [uifMultiline]="true" [uifDisabled]="true" [uifPlaceholder]="'placeholder'" [(value)]="anotherTextFieldValue"></uif-textfield>
<span class="ms-font-m">Testing data binding:</span> <input class="ms-font-m" [(ngModel)]="textFieldValue" />
<br/>
<span class="ms-font-m">Testing data binding:</span> <input class="ms-font-m" [(ngModel)]="anotherTextFieldValue" />
<br>








