<div [id]="uifId" class="ms-Dropdown" tabindex="0" [class.is-disabled]="uifDisabled">
  <label class="ms-Label">{{uifLabel}}</label>
  <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--ChevronDown"></i>
    <select class="ms-Dropdown-select" (change)="onValueChanged($event.target)">
      <option value="-1" disabled *ngIf="uifPlaceholder != ''">{{uifPlaceholder}}</option>
      <option *ngFor="let option of uifOptions" [value]="option.value" [selected]="option == uifSelected ? true : false">{{option.text}}</option>
    </select>
</div>

